<!DOCTYPE html>
<html lang="en">

<head>

    <!-- General -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Res -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>

</head>

<body>

    <!-- App Container -->
    <div id="app">

        <!-- tab with chat list -->
        <div id="tab-chat-list" class="tab">

            <!-- tab header (own profile information) -->
            <header class="bar">
                <img :src="'imgs/avatar' + personalContact.avatar + '.jpg'" alt="">
                {{personalContact.name}}
            </header>

            <!-- enable notifications -->
            <div id="notification-push">
                Notifiche
            </div>

            <!-- chat lookup -->
            <div class="search">
                <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- chats list -->
            <ol id="chat-list">

                <li v-for="contact in contacts" @click="this.activeContact = contact">
                    <img :src="'imgs/avatar' + contact.avatar + '.jpg'" alt="contact.name + ' profile photo'">
                    <div class="contact">
                        <span class="name">
                            {{contact.name}}
                        </span>
                        <span class="text-desc text-subtle">
                            {{contact.messages[contact.messages.length - 1].message}}
                        </span>
                    </div>
                    <div class="info">
                        <span class="time">
                            {{contact.messages[contact.messages.length - 1].date}}
                        </span>
                    </div>
                </li>

            </ol>

        </div>

        <!-- tab with active chat -->
        <div v-if="this.activeContact" id="tab-chat" class="tab">

            <!-- there is a active chat to show -->

            <!-- tab header (contact profile information) -->
            <header class="bar">
                <img :src="'imgs/avatar' + activeContact.avatar + '.jpg'" alt="">
                {{activeContact.name}}
            </header>

            <!-- actual chat view with message bubbles -->
            <ol id="chat">
                <li v-for="message in activeContact.messages" :class="{personal: message.status == 'sent'}">
                    <span>
                        {{message.message}}
                    </span>
                    <span>
                        {{message.date}}
                    </span>
                </li>
            </ol>

            <!-- send message container -->
            <div id="send-message-container" class="bar">

                <!-- emojee -->
                <button>
                    <i class="fa-regular fa-face-smile"></i>
                </button>

                <!-- message input -->
                <input type="text" name="message" id="" placeholder="Write a message" v-model="newMessage" @keydown.enter="sendMessage">

                <!-- send type -->
                <button v-if="newMessage.length == 0">
                    <!-- audio message -->
                    <i class="fa-solid fa-microphone"></i>
                </button>
                <button v-else @click="sendMessage">
                    <!-- text message -->
                    <i class="fa-regular fa-paper-plane"></i>
                </button>

            </div>

        </div>

        <div id="tab-chat-empty" v-else>
            <div>
                <h1>
                    Boolzapp Web
                </h1>
                <span>Send and receive messages without keeping your phone online.</span>
            </div>
        </div>

    </div>

    <script>
        Boolzapp.mount('#app');
    </script>

</body>

</html>