*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* PALETTE */
    --col-primary: rgb(0, 150, 136);
    --col-secondary: rgba(219, 219, 211, 1);
    --col-tab-header: rgb(234, 234, 234);
    --col-bubble-you: rgb(213, 249, 186);
    --col-bubble-other: rgb(255, 255, 255);

}

body {

    /* Size */
    width: 100%;
    height: 100vh;

    /* Style */
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 12%, rgba(219, 219, 211, 1) 12%, rgba(219, 219, 211, 1) 100%);

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* General App container */
#app {

    /* Size */
    height: 90%;
    width: 100%;
    max-width: 1600px;

    /* Style */
    background-color: snow;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Tabs */
.tab {
    /* Size */
    height: 100%;

    /* Style */
    border: 1px solid gray;

    /* Display */
    display: flex;
    flex-direction: column;
}

.tab .bar {
    /* Size */
    height: 60px;
    flex: 0 0 60px;

    /* Style */
    background-color: var(--col-tab-header);

    /* Display */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

.tab .bar>img {
    height: 90%;
    border-radius: 50%;
}

/* Chat List tab */
#tab-chat-list {
    width: 30%;

}

#notification-push {
    flex: 0 0 80px;
    background-color: #8edafc;
}

#chat-list {
    overflow: auto;
}

#chat-list li {
    /* Size */
    height: 72px;

    /* Style */
    border-bottom: 1px solid gray;

    /* Display */
    display: flex;
}

#chat-list img {
    border-radius: 50%;
}

/* Active Chat tab */
#tab-chat {
    width: 70%;
}

#chat {
    flex: 1 0 80%;
}

#chat li {
    background-color: var(--col-bubble-other);
}

#chat li.personal {
    background-color: var(--col-bubble-you);
}


#send-message-container button {
    flex: 0 0 50px;
}

#send-message-container input {
    flex: 1 0 70%;
    height: 50%;
    /* border-radius: 5px; */
}

#tab-chat-empty {
    /* Size */
    width: 70%;
    height: 70%;

    /* Style */
    text-align: center;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}