/* ROOT */
:root {
    /* palette */
    --col-primary: rgb(0, 150, 136);
    --col-secondary: rgba(219, 219, 211, 1);
    --col-tab-header: rgb(234, 234, 234);
    --col-bubble-you: rgb(213, 249, 186);
    --col-bubble-other: rgb(255, 255, 255);

}

/* DEFAULTS */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */
.text-subtle {
    color: #bfadb2;
    font-size: small;
}

body {

    /* Size */
    width: 100%;
    height: 100vh;

    /* Style */
    background: rgb(0, 150, 136);
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0%, rgba(0, 150, 136, 1) 16%, rgba(219, 219, 211, 1) 16%, rgba(219, 219, 211, 1) 100%);

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* General App container */
#app {

    /* Size */
    height: 90%;
    width: 100%;
    max-width: 1600px;

    /* Style */
    background-color: snow;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Tabs */
.tab {
    /* Size */
    height: 100%;

    /* Style */
    /* border: 1px solid gray; */

    /* Display */
    display: flex;
    flex-direction: column;
}

.tab .bar {
    /* Size */
    height: 60px;
    flex: 0 0 60px;

    /* Style */
    background-color: var(--col-tab-header);

    /* Display */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}

.tab .bar>img {
    height: 90%;
    border-radius: 50%;
}

/* CHAT LIST TAB */
/* tab */
#tab-chat-list {
    width: 30%;
    border-right: 1px solid lightgray;
}

/* notification pusher */
#notification-push {

    /* Size */
    flex: 0 0 80px;

    /* Style */
    padding: .2rem;
    background-color: #8edafc;

    /* Display */
    display: flex;
    align-items: center;
}

#notification-push div {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#notification-push div:first-of-type {
    width: 50px;
    border-radius: 50px;
    background-color: snow;
    text-align: center;
}

#notification-push i {
    color: #8edafc;
    font-size: 20px;
}

/* search bar */
#tab-chat-list .search {
    height: 40px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tab-chat-list .search input{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid lightgray;
}

/* chat list */
#chat-list {
    overflow: auto;
    border-top: 1px solid rgb(221, 221, 221);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#chat-list li {
    /* Size */
    height: 72px;

    /* Style */
    border-bottom: 1px solid rgb(221, 221, 221);

    /* Display */
    display: flex;
    align-items: center;
    gap: .8rem;
}

#chat-list li.active {
    background-color: #e9ebeb;
}

#chat-list img {
    margin-left: .8rem;
    border-radius: 50%;
    height: 80%;
}

#chat-list .contact {
    width: 70%;
    display: flex;
    flex-direction: column;
}

/* ACTIVE CHAT TAB */
/* tab */
#tab-chat {
    width: 70%;
}

/* chat */
#chat {
    flex: 1 0 80%;

    list-style-type: none;
    margin: 0;
    padding: 2rem;
    background-image: url(imgs/mine.jpg);

    display: flex;
    flex-direction: column;
}

/* bubble */
#chat li {
    /* size */
    width: fit-content;

    /* style */
    margin-top: .2rem;
    padding: .4rem .8rem;

    /* display */
    display: flex;
    flex-direction: column;
}

#chat li:not(.personal) {
    border-radius: 2px 12px 12px 12px;
    background-color: var(--col-bubble-other);
}

#chat li.personal {
    border-radius: 12px 2px 12px 12px;
    align-self: flex-end;
    background-color: var(--col-bubble-you);
}

#chat li span:last-of-type {
    align-self: flex-end;
}


#send-container button {
    flex: 0 0 50px;
    border: none;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
}
#send-container input {
    flex: 1 0 70%;
    height: 60%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: .6rem;
}

#tab-chat-empty {
    /* Size */
    width: 70%;
    height: 70%;

    /* Style */
    text-align: center;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
}